.body-title {
    background: #f6faf6;
    padding-left: 12px; 

}
.header-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  figure {
    padding: 0;
    margin: 0;
  }

body {
    margin: 0;
    padding: 0;
    border: 0;

  }

  .container-fluid{
      margin: 0%;
  }

  #image-1 {
      
      height: auto;
      width: 800px;
  }

  .zero-pad{
    padding: 0;
  }

  #title-top{
    padding-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
  }

  #caption-top{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
  }


  